<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-mlkit-docscanner" version="1.0.0">
    <name>MLKitDocScanner</name>
    <js-module src="www/Scanner.js" name="MLKitDocScanner">
        <clobbers target="window.plugins.MLKitDocScanner" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MLKitDocScanner">
                <param name="android-package" value="com.guilherme.scanner.ScannerPlugin"/>
            </feature>
        </config-file>

        <!-- Dependência do Google ML Kit -->
        <framework src="com.google.android.gms:play-services-mlkit-document-scanner:16.0.0-beta1" />
        <source-file src="src/android/ScannerPlugin.java" target-dir="src/com/guilherme/scanner/" />
    </platform>
</plugin>
