<plugin id="meu-plugin-scanner" version="1.0.0">
    <name>ScannerMLKit</name>
    <platform name="android">
        <!-- Isso aqui avisa ao compilador para baixar a biblioteca do Google -->
        <framework src="com.google.android.gms:play-services-mlkit-document-scanner:16.0.0-beta1" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScannerPlugin">
                <param name="android-package" value="com.meuexemplo.scanner.ScannerPlugin"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/ScannerPlugin.java" target-dir="src/com/meuexemplo/scanner/" />
    </platform>
</plugin>